body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Jersey 10', Helvetica, sans-serif;
    background: linear-gradient(to bottom, #3299ffda, #8cc5ffb4, #2e8cffc5);
    height: 100vh;
    margin: 0;
    color: rgb(255, 255, 255);
    letter-spacing: 2.5px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.weather {
    display: flex;
    gap: 5px;
    align-items: center;
}

.weather h1 {
    font-size: clamp(1.5em, 5vw, 2.4em);
    font-weight: 200;
    transform: scaleY(0.8);
    color: rgba(255, 255, 255, 0.901);
}

nav {
    display: flex;
    background-color: #9810FA;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    border: 5px black solid;
    flex-wrap: wrap;
}

nav img {
    max-width: 45px;
    width: 10vw;
    max-height: 45px;
}

nav h5 {
    color: rgba(255, 255, 255, 0.819);
    font-size: 1.3em;
    transform: scaleY(0.8);
    font-weight: 200;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}

.main h1 {
    margin-top: 10px;
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 1.5px;
    transform: scaleY(0.7);
    /* padding: 10px; */
}

.main h5 {
    background-color: black;
    padding: 20px;
    max-width: 390px;
    font-size: 1.36em;
    font-weight: 100;
    text-align: center;
    transform: scaleY(0.8);
    margin-bottom: 12px;
    margin-left: 20px;
    margin-right: 20px;

}

.data {
    gap: 8px;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 390px;
    text-align: left;
}

.data label {
    font-size: 1.3em;
    transform: scaleY(0.8);
}

.data #input {
    font-family: 'Jersey 10', Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    padding: 5px 10px;
    border-top: black solid 4px;
    border-left: black solid 4px;
    border-right: rgb(94, 94, 94) solid 4px;
    border-bottom: rgb(94, 94, 94) solid 4px;
    background-color: rgb(212, 212, 212);
    text-transform: uppercase;
    outline: none;
}

.data #input::placeholder {
    font-family: 'Jersey 10', Arial, Helvetica, sans-serif;
    transform: scaleY(0.8);
    color: rgb(83, 83, 83);
}

.data #input:focus {
    background-color: white;
}

.data button {
    padding: 15px 20px;
    border: none;
    font-family: 'Jersey 10', Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    transform: scaleY(0.8);
    border-top: black solid 4px;
    border-left: black solid 4px;
    border-right: rgb(94, 94, 94) solid 4px;
    border-bottom: rgb(94, 94, 94) solid 4px;
    background: linear-gradient(to right, rgb(246, 246, 246), rgb(222, 222, 222));
    letter-spacing: 1.5px;
    color: rgb(34, 34, 34);
    font-weight: 100;
}

#container {
    background-color: #FEF9C2;
    color: black;
    padding: 15px;
    font-size: 1.3em;
    text-align: center;
    width: 100%;
    max-width: 500px;
    border: 4px black solid;
    transform: scaleY(0.8);

}

.footer {
    margin-top: 10px;
    background-color: #00e15a;
    padding: 13px;
    border: 4px black solid;

}